@font-face {
  font-family: 'HyBaManTij';
  src: url("HYBaManTiJ.ttf");
}

@font-face {
  font-family: 'HanSansCN-Light';
  src: url("SourceHanSansCN-Light.otf");
}

@font-face {
  font-family: 'HanSansCN-Bold';
  src: url("SourceHanSansCN-Bold.otf");
}
